body {
    background: url(images/blueYellowTrackBkgrnd.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
}

.a1 {
    text-align: center;
}

span {
    display: inline-block;
    vertical-align: middle;
}

.outer-line {
    width: 40%;
    border-bottom: 1px solid #f6bf08;
}

a {
    text-decoration: none;
    color: #000000
}

/* Globally */

/* Each state */

a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: red;
}

a:focus {
    text-decoration: none;
    color: #000000;
}

a:hover,
a:active {
    text-decoration: none;
    color: black
}